aside nav a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #333;
  padding:5px 10px;
}
aside nav a.active {
  color: red;
  font-weight:bold;
}
input {
  border: 1px solid black;
  padding: 5px 3px;
  margin: 0 0 10px 0;
}
input.error {
  border:1px solid red;
}
p.error {
  font-size: 0.7em;
  color:red;
}

main > section {
  padding: 30px 20px;
  margin: 10px 0 0 0;
  border: 1px solid black;
}

.board {}
.board .row {
  border-bottom: 1px solid gray;
  padding: 5px;
}
.board .row::after {
  content: "";
  clear:both;
  display:block;
}
.board .row > div {
  float:left;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board .header .row > div {
  text-align: center;
  font-weight: bold;
}
.board .row > div.center {
  text-align: center;
}
.board .row > .id {
  width: 70px;
}
.board .row > .author {
  width: 100px;
}
.board .row > .title {
  width: calc(100% - 380px);
}
.board .row > .hit {
  width: 60px;
}
.board .row > .date {
  width: 100px;
}


.board .paging {
  margin: 20px auto;
  text-align: center;
}
.board .paging > a {
  display: inline-block;
  border: 1px solid gray;
  padding: 5px 10px;
  margin: 0 5px;
  text-decoration: none;
  color: black;
}
.board .paging > a.current {
  background: red;
  border-color:red;
  color: white;
}
.board .search, .board .empty {
  text-align: center;
}