aside nav a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #333;
  padding:5px 10px;
}
aside nav a.active {
  color: red;
  font-weight:bold;
}
input {
  border: 1px solid black;
  padding: 5px 3px;
  margin: 0 0 10px 0;
}
input.error {
  border:1px solid red;
}
p.error {
  font-size: 0.7em;
  color:red;
}

main > section {
  padding: 30px 20px;
  margin: 10px 0 0 0;
  border: 1px solid black;
}

.board {}
.board .row {
  border-bottom: 1px solid gray;
  padding: 5px;
}
.board .row::after {
  content: "";
  clear:both;
  display:block;
}
.board .row > div {
  float:left;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board .header .row > div {
  text-align: center;
  font-weight: bold;
}
.board .row > div.center {
  text-align: center;
}
.board .row > .id {
  width: 70px;
}
.board .row > .author {
  width: 100px;
}
.board .row > .title {
  width: calc(100% - 380px);
}
.board .row > .hit {
  width: 60px;
}
.board .row > .date {
  width: 100px;
}


.board .paging {
  margin: 20px auto;
  text-align: center;
}
.board .paging > a {
  display: inline-block;
  border: 1px solid gray;
  padding: 5px 10px;
  margin: 0 5px;
  text-decoration: none;
  color: black;
}
.board .paging > a.current {
  background: red;
  border-color:red;
  color: white;
}
.board .search, .board .empty {
  text-align: center;
}

.board .article {
  border-bottom:1px solid gray;
  padding:20px 40px;
  margin-bottom: 30px;
}

.board .article .header {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.board .article .header .title {
  font-size: 2em;
  padding-bottom: 0.3em;
}
.board .article .header .author {
  font-size: 1.2em;
}
.board .article .header .date {
  font-size: 0.8em;
  font-style: italic;
}
.board .article .body {
  padding: 30px 0;
}

.board .edit form {
  width: 85%;
  margin:0 auto;
}
.board .edit textarea, .board .edit input[type=text] {
  width: 100%;
  display:block;
  margin:0 0 10px 0;
  border: 1px solid gray;
  font-size: 1.5em;
  padding: 8px 16px;
}
.board .edit textarea{
  resize: vertical;
}
.board .edit .buttons {
  text-align: center;
}
.board .edit input[type=submit], .board .edit input[type=button] {
  width:20%;
  margin:0 auto;
  display: inline-block;
  font-size: 2em;
  curosr: pointer;
}
.board .edit input[type=submit] {
  background: red;
  color: white;
}
.board .edit input[type=button] {
  background: white;
}
.board .article .footer {
  text-align: right;
}
.board .comments {
  margin-left: 50px;
  margin-top: 30px;
}
.board .comments .item {
  border-top: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
}
.board .comments .item .body {
  padding: 15px 0;
}

/** comment form and content div **/
.board .comments .item [data-update-form-slot] {
  display: none;
}
.board .comments .item.editing [data-bbs-comment-update],
.board .comments .item.editing [data-update-form-slot]{
  display:block;
}
.board .comments .item.editing [data-content]{
  display:none;
}

/** comment btns **/
.board .comments .item [data-cancel-update-btn]{
  display:none;
}
.board .comments .item.editing [data-cancel-update-btn]{
  display:inline-block;
}
.board .comments .item.editing [data-update-btn]{
  display:none;
}

.board .comment-form {
  text-align: right;
}
.board .comment-form input[type=submit] {
  font-size: 1.3em;
}
.board .comment-form textarea {
  width: 100%;
  padding: 4px 8px;
  font-size: 2em;
  margin-bottom: 5px;
}
.board .comment-form.update {
  display: none;
}

.btn {
  border: 1px solid black;
  background: white;
  color: black;
  text-decoration: none;
  padding:5px 15px;
}