<% include ../header %>

<div class="board">
  <%  if (articles.length == 0) { %>
  <p>게시물이 없습니다.</p>

  <% } else { %>
    <div class="header">
      <div class="row">
        <div class="id">#</div>
        <div class="title">제목</div>
        <div class="author">글쓴이</div>
        <div class="date">날짜</div>
      </div>
    </div>
    <div class="body">
      <% articles.forEach(article => { %>
      <div class="row">
        <div class="id"><%=article.id%></div>
        <div class="title"><%=article.title%></div>
        <div class="author"><%=article.user_id%></div>
        <div class="date"><%=article.created%></div>
      </div>
      <% }); %>
    </div>
    <div class="footer"></div>

  <% } %>
</div>

<% include ../footer %>